<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <!-- logo -->
    <div class="navbar-brand">
      <a routerLink="/" class="navbar-item">💪 Clash of GIFans</a>
    </div>

    <!-- menu -->
    <div class="navbar-menu">
      <div class="navbar-end">
        <a routerLink="/" class="navbar-item">🔥 Battle</a>
        <a routerLink="/create" class="navbar-item">🌳 Create</a>
        <a routerLink="/leaderboard" class="navbar-item">✌️ Leaderboard</a>
      </div>
    </div>
  </div>
</nav>
