<h1 class="title has-text-centered">Leaderboard</h1>
<table class="table is-hover is-bordered is-striped">
  <tbody>
    <tr *ngFor="let gif of leaderboardGIFs; let i = index">
      <td>
          {{ i + 1 }}
      </td>
      <td>
          <img [src] = "gif.url"/>
      </td>
      <td>
          {{ gif.votes }}
      </td>
    </tr>
  </tbody>

</table>
<div class="columns" *ngIf="clashingGIFs">
    <div class="column is-half" *ngFor="let gif of clashingGIFs">
        <div class="gif-container">
            <img [src] = "gif.url"/>
            <div class="caption">
              {{ gif.caption }}
            </div>
        </div>
        <a class="button is-info" (click)="voteGIF(gif.id)" >Vote!</a>
    </div>
</div>
